@model IEnumerable<CUAHANGBANDAGRANITE.Models.Nhanvien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tennhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaikhoanidtaikhoanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manhanvien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennhanvien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaikhoanidtaikhoanNavigation.Idtaikhoan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idnhanvien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idnhanvien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idnhanvien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
